@model IEnumerable<QLTV.Models.BaoCaoVongQuaySach>

@{
    ViewBag.Title = "Báo cáo vòng quay sách";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.TenSach)</th>
        <th>@Html.DisplayNameFor(model => model.SoLuotMuon)</th>
        <th>@Html.DisplayNameFor(model => model.NgayCapNhat)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TenSach)</td>
            <td>@Html.DisplayFor(modelItem => item.SoLuotMuon)</td>
            <td>@Html.DisplayFor(modelItem => item.NgayCapNhat)</td>
        </tr>
    }
</table>