@model QLTV_Backend.Models.BoSungTaiLieu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BoSungTaiLieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XuLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XuLy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaiPhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaiPhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
